@font-face {
  font-family: PrimaryFont;
  src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
  font-family: PrimaryFontBold;
  src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
  font-family: PrimaryFontLight;
  src: url(../fonts/Comfortaa/Comfortaa-Light.ttf);
}

@font-face {
  font-family: BPPRegular;
  src: url(../fonts/Merienda/Merienda-Regular.ttf);
}

@font-face {
  font-family: BPPBold;
  src: url(../fonts/Merienda/Merienda-Bold.ttf);
}

/* COLORS */
/* HOME Z-INDEX */
body {
  background-position: center;
  background-size: cover;
}

body.wall {
  background-color: rgba(0, 0, 0, 0.8);
}

body.table {
  background-image: url("../dist/images/table.jpg");
}

body.galleries {
  background-image: url("../dist/images/wall.jpg");
}

.transition, #menu-container #menu, #menu-container #menu .svg, #home .home-title, #home #box-5 #contact-form-container, #documents .document .book:after, #documents .document .book .cover, #documents .document .book .pages, #filters, #filters ul .tag {
  transition: ease all 0.3s;
}

.bpp-regular, header h4 a, #home h1, #home h4 {
  font-family: BPPRegular, arial;
}

.bpp-bold {
  font-family: BPPBold, arial;
}

.primary-font-regular, * {
  font-family: PrimaryFont, arial;
}

.primary-font-bold, strong, #images .portait .plate, #galleries .portait .plate {
  font-family: PrimaryFontBold, arial;
}

.primary-font-light {
  font-family: PrimaryFontLight, arial;
}

*::-moz-selection {
  background: rgba(255, 255, 125, 0.99);
  color: #032764;
}

*::-webkit-selection {
  background: rgba(255, 255, 125, 0.99);
  color: #032764;
}

*::selection {
  background: rgba(255, 255, 125, 0.99);
  color: #032764;
}

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
}

.bg-primary {
  background-color: #2196f3;
}

.bg-dark {
  background-color: #333;
  color: white;
}

.mt-xs {
  margin-top: 5px;
}

.mt-sm {
  margin-top: 10px;
}

.mt-md {
  margin-top: 15px;
}

.mt-lg {
  margin-top: 20px;
}

.mt-xlg {
  margin-top: 25px;
}

.page-title.inverse {
  color: white;
}

header {
  position: fixed !important;
  z-index: 4;
  padding-left: 7.5px !important;
  width: 100%;
}

header h4 {
  padding-left: 0 !important;
  font-size: 12pt;
}

header h4 a {
  color: white;
}

@media screen and (min-width: 768px) {
  header #header-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header #header-menu {
    display: inline;
    float: right;
    padding-left: 0;
  }
  header #header-menu li {
    display: inline-block;
    font-size: 25px;
    margin-left: 15px;
    text-align: center;
  }
  header #header-menu li span {
    display: block;
    font-size: 12px;
  }
}

#menu-container {
  background-color: #000000AA;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100px;
  min-height: 100%;
  /* Minimum height for modern browsers */
  height: 100%;
  /* Minimum height for IE */
  z-index: 3;
}

@media screen and (max-width: 768px) {
  #menu-container {
    display: none;
  }
}

#menu-container #menu {
  position: fixed;
  margin-top: calc(50% - 416px/2);
}

@media screen and (max-width: 768px) {
  #menu-container #menu {
    display: none;
  }
}

#menu-container #menu .svg {
  fill: white;
  height: 50px;
}

#menu-container #menu .svg:hover {
  transform: scale(1.5);
}

#menu-container #menu ul {
  padding-left: 5px;
}

#menu-container #menu li {
  font-size: 35px;
  margin-bottom: 25px;
  list-style-type: none;
  text-align: center;
  position: relative;
}

#menu-container #menu li .link-name {
  font-size: 13px;
  width: auto;
  text-align: left;
  color: white;
  display: block;
  border-radius: 15px;
  text-align: center;
  padding: 2px 5px;
  white-space: nowrap;
}

#menu-container #menu li a {
  color: white;
}

#menu-container #menu li.active .svg {
  transform: scale(1.5);
}

#menu-container footer {
  position: absolute;
  bottom: 5px;
  padding: 5px;
}

#menu-container footer a {
  display: block;
  text-align: center;
  color: white;
}

main.spacer,
.main.spacer {
  margin-left: 150px;
  margin-right: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  main.spacer,
  .main.spacer {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.main-title {
  background-color: transparent;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding-top: 45px;
  margin-bottom: 50px;
}

#home .word {
  font-size: 50pt;
  text-align: center;
  display: block;
  position: relative;
  font-size: 100pt;
  color: rgba(0, 0, 0, 0.8);
}

#home .word .letter {
  letter-spacing: -45px;
  opacity: 0;
}

#home .home-title {
  position: fixed;
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-size: 100px;
}

#home #home-title-1 {
  z-index: 5;
}

#home #home-title-2 {
  margin: auto;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: white;
  font-size: 100px;
  z-index: 7;
  position: absolute;
}

#home #home-title-3 {
  display: none;
  z-index: 2;
}

#home #home-title-3 h1 {
  font-size: 100px;
}

#home #home-title-3 h1:first-child {
  color: #323232;
}

#home .full-box {
  height: 100vh;
  display: block;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#home #box-1 {
  background-image: url("../dist/images/box-1.jpg");
  z-index: 4;
}

#home #box-2 {
  background-image: url("../dist/images/box-2.jpg");
  z-index: 6;
  overflow-y: hidden;
}

#home #box-3 {
  background-image: url("../dist/images/box-3.jpg");
}

@keyframes hop {
  0% {
    bottom: 70px;
  }
  10% {
    bottom: 100px;
  }
  20% {
    bottom: 70px;
  }
  100% {
    bottom: 70px;
  }
}

#home #box-3 #angle-down {
  position: fixed;
  bottom: 50px;
  right: 0;
  left: 0;
  color: white;
  text-align: center;
  animation: hop 8s infinite;
  cursor: pointer;
}

#home #box-4 {
  z-index: 2;
  background-color: white;
}

#home #box-5 {
  z-index: 2;
  background-color: #2196f3;
}

#home #box-5 #contact-form-container {
  position: absolute;
  background-color: white;
  margin: auto;
  text-align: center;
  display: block;
  left: 0;
  right: 0;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 0px 33px 0px rgba(0, 0, 0, 0.75);
  filter: blur(0px);
}

#home #box-5 #contact-form-container.blur {
  filter: blur(2px);
}

#home #box-5 #contact-form-container .contact-form-header {
  margin-bottom: 25px;
}

#home #box-5 #contact-form-container .svg {
  fill: #2196f3;
}

#home #box-5 #contact-form-container .icon-animate {
  position: absolute;
  top: 0;
  left: 15px;
  transition: ease all 2s;
  z-index: 2;
}

#images .polaroid {
  padding: 20px;
  margin-bottom: 50px;
  text-decoration: none !important;
}

#images .polaroid .frame {
  background-color: white;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px;
  height: 290px;
  position: relative;
  transition: ease all .3s;
}

#images .polaroid .frame:hover {
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.5), 0 24px 48px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

#images .polaroid .frame div {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border: solid 2px;
  border: solid 5px black;
}

#images .polaroid .frame h4 {
  text-align: center;
  padding-top: 10px;
  color: black;
}

#images .polaroid .frame h4.little-title {
  font-size: 15px;
}

#images .polaroid .frame .tape,
#images .polaroid .frame .tape-rotate-1 {
  position: absolute;
  width: 100px;
  top: -30px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

#images .polaroid .frame .tape-rotate-2 {
  transform: rotateZ(45deg);
}

#images .polaroid .frame .tape-rotate-3 {
  transform: rotateZ(20deg);
}

#images .portait {
  padding: 20px;
}

#images .portait .frame {
  background-color: #DDC;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px;
  position: relative;
  transition: ease all .3s;
}

#images .portait .frame:hover {
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.5), 0 24px 48px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

#images .portait .frame div {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  border: solid 2vmin #eee;
}

#images .portait .frame:before {
  border-radius: 2px;
  bottom: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#images .portait .frame:after {
  border-radius: 2px;
  bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#images .portait .plate {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
  background: #eab92d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eab92d 0%, #c79810 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );
  /* IE6-9 */
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  color: black;
  border-radius: 5px;
  position: relative;
}

#images .portait .plate:after {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  left: 10px;
  top: 17px;
  background-color: #B57B19;
  border-radius: 50%;
}

#images .portait .plate:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  right: 10px;
  top: 17px;
  background-color: #B57B19;
  border-radius: 50%;
}

#documents .document {
  padding: 20px;
  text-decoration: none;
}

#documents .document .book {
  position: relative;
}

#documents .document .book:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  transform-origin: top;
  border-left: solid 10px #aaa;
  transform: perspective(500px) rotateX(-50deg);
  background-color: gray;
}

#documents .document .book .cover {
  height: 300px;
  display: block;
  background-size: cover;
  border-left: solid 10px #aaa;
  text-align: center;
  display: table-cell;
  width: 600px;
  vertical-align: middle;
  transform: perspective(1500px) rotateY(0);
  transform-origin: left;
  z-index: 2;
  position: relative;
}

#documents .document .book .cover.texture {
  background-image: url("../dist/images/book_texture_1.jpg");
}

#documents .document .book .cover:before, #documents .document .book .cover:after {
  content: '';
  width: 50px;
  height: 50px;
  right: 0;
  position: absolute;
}

#documents .document .book .cover:after {
  border-top: solid 5px #DAA520;
  border-right: solid 5px #DAA520;
  top: 0;
}

#documents .document .book .cover:before {
  border-bottom: solid 5px #DAA520;
  border-right: solid 5px #DAA520;
  bottom: 0;
}

#documents .document .book .cover h3 {
  color: #DAA520;
  padding: 10px;
}

#documents .document .book .pages {
  position: absolute;
  background-color: white;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0;
  padding: 20px;
  z-index: 1;
  border: solid gray 1px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 10px;
  text-align: justify;
  overflow: hidden;
}

#documents .document .book:hover {
  cursor: pointer;
}

#documents .document .book:hover .cover {
  transform: perspective(1500px) rotateY(-65deg);
  box-shadow: 48px 13px 76px -2px rgba(0, 0, 0, 0.6);
}

#documents .document .book:hover .pages {
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.5), 0 24px 48px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

#documents .document .book:hover:after {
  border-left-width: 5px;
  transform: perspective(500px) rotateX(-90deg);
}

#galleries .portait {
  padding: 20px;
}

#galleries .portait .frame {
  background-image: url("../dist/images/portait.jpg");
  background-position: center;
  background-size: cover;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 20px;
  position: relative;
  transition: ease all .3s;
}

#galleries .portait .frame:hover {
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.5), 0 24px 48px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

#galleries .portait .frame div {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb;
  border: solid 2vmin #eee;
}

#galleries .portait .frame:before {
  border-radius: 2px;
  bottom: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

#galleries .portait .frame:after {
  border-radius: 2px;
  bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#galleries .portait .plate {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
  background: #eab92d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eab92d 0%, #c79810 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );
  /* IE6-9 */
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  color: black;
  border-radius: 5px;
  position: relative;
}

#galleries .portait .plate:after {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  left: 10px;
  top: 17px;
  background-color: #B57B19;
  border-radius: 50%;
}

#galleries .portait .plate:before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  right: 10px;
  top: 17px;
  background-color: #B57B19;
  border-radius: 50%;
}

.bg-gallery {
  background-image: url("../dist/images/prova3.jpg");
  background-position: bottom bottom;
  background-attachment: fixed;
  background-size: contain;
}

.container {
  position: fixed;
  top: -30px;
  left: 0;
  width: 100vh;
  height: calc(100vw);
  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

#gallery #wall .box {
  background-color: #b4b4b4;
  box-sizing: border-box;
  height: 520px;
  width: 520px;
  padding: 50px;
  display: block;
  background-clip: padding-box;
}

#gallery #wall .box-back {
  background-color: #e6e6e6;
  border: solid 30px transparent;
}

#gallery #wall .front-right {
  border-right-color: #c8c8c8;
}

#gallery #wall .front-left {
  border-left-color: #c8c8c8;
}

#gallery #wall .no-front-left {
  border-left: none;
}

#gallery #wall .no-front-right {
  border-right: none;
}

#gallery #wall .image {
  text-align: center;
  width: 100%;
  height: 80%;
  background-position: center;
  background-size: cover;
  display: block;
  border: solid gray 10px;
}

#open-filters-button, #remove-filters-button {
  padding: 10px;
  cursor: pointer;
  border: solid #444 1px;
  margin-right: 10px;
  background-color: white;
}

#remove-filters-button {
  border-color: red;
  color: #d9534f;
}

#filters {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 100px;
  top: 0;
  visibility: hidden;
  z-index: 99;
  background-color: white;
  box-shadow: 10px 0px 26px 0px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  transform: perspective(1200px) rotateY(90deg);
  transform-origin: left;
}

#filters.open {
  visibility: visible;
  transform: perspective(1200px) rotateY(0deg);
}

#filters .filter-header {
  padding: 15px;
  background-color: #333;
  color: white;
}

#filters .filter-header .svg {
  fill: white;
  width: 15px;
}

#filters .filter-header .title {
  font-size: 15px;
}

#filters .filter-header .close-filters {
  color: white;
  text-align: right;
  cursor: pointer;
}

#filters .filter-header .title, #filters .filter-header .close-filters {
  width: 50%;
  float: left;
  display: inline-block;
}

#filters .filter-footer button {
  padding: 15px;
  background-color: #444;
  width: 100%;
  color: white;
  border-radius: 0;
  border: none;
}

#filters .filter-footer button:hover {
  background-color: #2196f3;
}

#filters ul {
  padding-left: 0;
  margin-top: 15px;
}

#filters ul .tag {
  list-style-type: none;
  display: block;
  padding: 5px;
  color: #333;
  margin-bottom: 5px;
  border-radius: 5px;
  border: solid 1px white;
  border-bottom: solid #AAA 1px;
  position: relative;
}

#filters ul .tag .tag-name {
  vertical-align: middle;
  font-size: 16px;
  position: absolute;
  top: 25%;
}

#filters ul .tag:hover {
  cursor: pointer;
}

.applied_filter {
  color: #2196f3;
}

/*# sourceMappingURL=app.css.map */
