#galleries{
    .portait{
        padding:20px;

        .frame{
            background-color:#DDC;
            border-bottom-color:#fff;
            border-left-color:#eee;
            border-radius:2px;
            border-right-color:#eee;
            border-top-color:#ddd;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            padding:20px;
            position:relative;
            transition:ease all .3s;

            &:hover{
                box-shadow: 0 24px 48px rgba(0,0,0,0.5), 0 24px 48px rgba(0,0,0,0.5);
                transform:scale(1.1);
            }

            div{
                height:200px;
                width:100%;
                background-position:center;
                background-size:cover;
                border:solid 2px;
                border-bottom-color:#ffe;
                border-left-color:#eed;
                border-right-color:#eed;
                border-top-color:#ccb;
                border:solid 2vmin #eee;
            }

            &:before {
              border-radius:2px;
              bottom:5px;
              box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
              content:"";
              left:5px;
              position:absolute;
              right:5px;
              top:5px;
            }

            &:after {
              border-radius:2px;
              bottom:10px;
              box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
              content:"";
              left:10px;
              position:absolute;
              right:10px;
              top:10px;
            }
        }

        .plate{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
            background: #eab92d; /* Old browsers */
            background: -moz-linear-gradient(top, #eab92d 0%, #c79810 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #eab92d 0%,#c79810 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #eab92d 0%,#c79810 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-9 */
            margin-top:15px;
            padding:10px;
            text-align:center;
            color:black;
            @extend .primary-font-bold;
            border-radius:5px;
            position:relative;

            &:after{
                content:'';
                width:5px;
                height:5px;
                position:absolute;
                left:10px;
                top:17px;
                background-color:#B57B19;
                border-radius:50%;
            }
            &:before{
                content:'';
                width:5px;
                height:5px;
                position:absolute;
                right:10px;
                top:17px;
                background-color:#B57B19;
                border-radius:50%;
            }
        }
    }
}



.bg-gallery{
    background-image:url('../dist/images/prova3.jpg');
    background-position:bottom bottom;
    background-attachment:fixed;
    background-size:contain;
}

.container {
  position: fixed;
  top: -30px; // Hide the horizontal scrollbar.
  left: 0;
  width: 100vh;
  height: calc(100vw);

  overflow: scroll;
  transform: rotate(-90deg);
  transform-origin: center calc(50vh);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

#gallery{


    #wall{
        .box{
            //float:left;
            background-color:rgb(180, 180, 180);
            box-sizing: border-box;
            height:520px;
            width:520px;
            padding:50px;
            display:block;
            background-clip: padding-box;
        }

        .box-back{
            background-color:rgb(230, 230, 230);
            border:solid 30px transparent;
        }

        .front-right{
            border-right-color:rgb(200, 200, 200);
        }

        .front-left{
            border-left-color:rgb(200, 200, 200);
        }

        .no-front-left{
            border-left:none;
        }

        .no-front-right{
            border-right:none;
        }

        .image{
            text-align:center;
            width:100%;
            height:80%;
            background-position:center;
            background-size:cover;
            display:block;
            border:solid gray 10px;
        }

        .text{

        }
    }
}
