@font-face {
    font-family: PrimaryFont;
    src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: PrimaryFontBold;
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: PrimaryFontLight;
    src: url(../fonts/Comfortaa/Comfortaa-Light.ttf);
}

@font-face {
    font-family: BPPRegular;
    src: url(../fonts/Merienda/Merienda-Regular.ttf);
}

@font-face {
    font-family: BPPBold;
    src: url(../fonts/Merienda/Merienda-Bold.ttf);
}

$dur : .3s;

$screen_md : 1200px;
$screen_sm : 992px;
$screen_xs : 768px;


/* COLORS */

$primary: #2196f3;
$gold: #DAA520;


/* HOME Z-INDEX */
$z_index_box_1      : 4;
$z_index_box_2      : $z_index_box_1 + 2;
$z_index_title_1    : $z_index_box_1 + 1;
$z_index_title_2    : $z_index_box_2 + 1;
$z_index_title_3    : $z_index_box_1 - 2;
