@font-face {
    font-family: PrimaryFont;
    src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: PrimaryFontBold;
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: PrimaryFontLight;
    src: url(../fonts/Comfortaa/Comfortaa-Light.ttf);
}
